# App
NODE_ENV=development
DB_LOGGING=false

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=postgres
DB_NAME=techservice

# PGADMIN
PGADMIN_EMAIL=admin@techservice.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=8080

# AUTH
JWT_SECRET=super-secret-key-change-in-production
JWT_EXPIRES_IN=1d

# SEED ADMIN
ADMIN_EMAIL=admin@techservice.local
ADMIN_PASSWORD=admin123

# MERCADOPAGO
MERCADOPAGO_ACCESS_TOKEN=TEST-xxxx

# BUSINESS INFO (para PDFs de presupuestos y comprobantes)
BUSINESS_NAME=Tech Service
BUSINESS_ADDRESS=Dirección del negocio
BUSINESS_PHONE=+54 11 1234-5678
BUSINESS_EMAIL=info@techservice.com
