# App
NODE_ENV=development
DB_LOGGING=false

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=postgres
DB_NAME=techservice

# PGADMIN
PGADMIN_EMAIL=admin@techservice.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=8080
